{% extends "timewatchstore/base.html" %}
{% load static %}
{% block content %}
<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{% url 'timewatchstore:index.html' %}"><img
                        src='{% static "timewatchstore/img/logo.png" alt="" %}'></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link"
                                href="{% url 'timewatchstore:index.html' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link"
                                href="{% url 'timewatchstore:category.html' 0%}">Shop</a></li>
                        <!-- <li class="nav-item submenu dropdown">
                                <a href="{% url 'timewatchstore:category.html' 0%}" class="nav-link dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Shop</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'timewatchstore:category.html' 0%}">Shop Category</a></li>
                                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'timewatchstore:checkout.html' %}">Product Checkout</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'timewatchstore:cart.html' %}">Shopping Cart</a></li>
                                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'timewatchstore:confirmation.html' %}">Confirmation</a>
                                    </li>
                                </ul>
                            </li> -->
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Brands</a>
                            <ul class="dropdown-menu">
                                {% if subcategories %}
                                {% for category in subcategories %}
                                <li class="nav-item"><a class="nav-link"
                                        href="{% url 'timewatchstore:category.html' category.id%}">{{category.name}}</a>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link"
                            href="{% url 'timewatchstore:contact.html' %}">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cart:cart_detail' %}">Cart</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li> -->
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container">
            <form action="{% url 'timewatchstore:search.html' %}" class="d-flex justify-content-between" method="GET"
                name="search_form">
                <select style="width:auto;" name="subcategory_id">
                    <option selected="selected" value="0">Tất cả</option>
                    {%if subcategories %}
                    {% for category in subcategories%}
                    {% if subcategory == category.id %}
                    <option value="{{category.id}}" selected="selected">{{category.name}}</option>
                    {% else %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </select>
                <input type="search" name="name" class="form-control" placeholder="Search Here ..."
                    value="{{search_str}}">
                <button class="btn">button</button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'timewatchstore:index.html'%}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{% url 'orders:order_create'%}">Confirmation</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start Checkout -->
<section class="shop checkout section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12">
				<div class="checkout-form">
					<h2>Cảm ơn quý khách</h2>
					<p>Quý khách <b> {{order.last_name}} {{order.first_name}} </b> đã đặt hàng thành công. Đơn hàng của quý khách
						có mã số {{order.id }}</p>
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="order-details">
					<!-- Order Widget -->
					<div class="single-widget">
						<h2>THÔNG TIN GIAO HÀNG (Dự kiến)</h2>
						<div class="content">
							<ul>
								<li>Phone: {{order.phone}}</li>
								<li>Email: {{order.email}}</li>
								<li>Địa chỉ giao hàng: {{order.address}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Checkout -->

{% endblock %}